:root {
  --text-color: #18171c;
  --text-light-color: #666;
  --primary-color: #8670ef;
  --secondary-color: #fad764;
  --secondary-bg-color: #f6f6f6;
  --bg-color: rgb(243, 243, 243);
  --bg-color-2: #f8f9fa;
  --lightgray: #d4d4d4;
}
